* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: all 0.3s ease;
}

body.dark-mode {
    background-color: #000000;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://wallpapers.com/images/featured/coffee-fjy5a753d2t9ngr0.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.logo {
    margin: 20px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo i {
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.logo i:hover {
    font-size: 1.5rem;
    transition: all 0.5s ease;
}

.logo h1 {
    color: #fff;
    font-size: 1rem;
}

.logo h1::first-letter {
    font-size: 1.5rem;
}

.nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
    transition: all 0.5s ease;
}

nav ul a:hover {
    font-size: 1rem;
}

.login {
    margin: 20px 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.login div a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px;
    border-radius: 5px;
    transition: color 0.5s ease, background-color 0.5s ease, transform 0.5s ease;
}

.login div a:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.1);
}

#userLogout {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

#userLogout:hover {
    color: #787878;
}

.login i {
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.login i:hover {
    font-size: 1.5rem;
}


/* Navbars for Responsive */
.nav-bar {
    background-color: #fffaf5;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    height: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    transition: all 0.3s ease;
}

body.dark-mode .nav-bar {
    background-color: #161616;
}

.nav-bar.active-bar {
    transform: translateY(0);
}

.nav-bar i {
    font-size: 20px;
    cursor: pointer;
    color: #271d0e;
    margin-right: 20px;
    transition: all 0.3s ease;
}

body.dark-mode .nav-bar i {
    color: #fff;
}
.nav-bar i:hover {
    font-size: 25px;
}

.nav-bar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.nav-bar ul a {
    text-decoration: none;
    color: #271d0e;
    font-size: 1rem;
    transition: all 0.3s ease;
}

body.dark-mode .nav-bar ul a {
    color: #b7b7b7;
}

.nav-bar ul a:hover {
    color: #a0660f;
    font-size: 1.2rem;
}

body.dark-mode .nav-bar ul a:hover {
    color: #fff;
    font-size: 1.2rem;
}

/* Logont Bar */
.logout-bar {
    background-color: #fffaf5;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    height: 100vh;
    width: 150px;
    padding: 20px;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    text-align: center;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

body.dark-mode .logout-bar {
    background-color: #161616;
}

.logout-bar.active-logout {
    transform: translateY(0);
}

.logout-bar i {
    font-size: 20px;
    cursor: pointer;
    color: #271d0e;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

body.dark-mode .logout-bar i {
    color: #fff;
}

.logout-bar i:hover {
    font-size: 25px;
}

.logout-bar button {
    background-color: #88512a;
    border: none;
    color: #fff;
    position: absolute;
    bottom: 40px;
    right: 25%;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

body.dark-mode .logout-bar button {
    background-color: #444;
    color: #ffffff;
}

.logout-bar button:hover {
    background-color: #a0660f;
    transform: scale(1.1);
}

body.dark-mode .logout-bar button:hover {
    background-color: #000;
    transform: scale(1.1);
}

/* CART STYLE */
.cart-zone {
    background-color: #fffaf5;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

body.dark-mode .cart-zone {
    background-color: #161616;
}

.cart-zone.active-cart {
    transform: translateX(0);
}

/* หัวตะกร้า */
.head-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.head-cart i {
    font-size: 20px;
    cursor: pointer;
    color: #271d0e;
    transition: transform 0.3s;
    transition: all 0.3s ease;
}

body.dark-mode .head-cart i {
    color: #fff;
}

.head-cart i:hover {
    transform: scale(1.2);
}

.head-cart h4 {
    font-size: 1.1rem;
    color: #271d0e;
    transition: all 0.3s ease;
}

body.dark-mode .head-cart h4 {
    color: #fff;
}

/* รายการสินค้าในตะกร้า */
#cartArea {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: auto;
}

/* แต่ละรายการ */
#cartArea div {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

body.dark-mode #cartArea div {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

/* ปุ่มเพิ่ม/ลด */
#cartArea button {
    background-color: #88512a;
    border: none;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}

body.dark-mode #cartArea button {
    background-color: #444;
    color: #ffffff;
}

#cartArea button:hover {
    background-color: #a0660f;
}

body.dark-mode #cartArea button:hover {
    background-color: #000;
}

#resultCart {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    background-color: #fffaf5;
    position: sticky;
    bottom: 0;
    z-index: 10;
}

body.dark-mode #resultCart {
    background-color: #161616;
}

#resultCart .total {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    font-weight: bold;
    color: #271d0e;
}

body.dark-mode #resultCart .total {
    color: #fff;
}

#checkOut {
    background-color: #88512a;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
body.dark-mode #checkOut {
    background-color: #444;
    color: #ffffff;
}

#checkOut:hover {
    background-color: #a0660f;
    transform: scale(1.05);
}

body.dark-mode #checkOut:hover {
    background-color: #000;
    transform: scale(1.05);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    margin-top: 80px;
    margin-left: 80px;
    color: #fff;
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    font-size: 0.8rem;
    border-radius: 20px;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    transition: all 0.5s ease;
    cursor: pointer;
}

.hero button:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}

.bottom-hero {
    background-color: #EADDCA;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px;
    transition: all 0.3s ease;
}

body.dark-mode .bottom-hero {
    background-color: #161616;
}

.bottom-hero-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 350px;
}

.bottom-hero-item div {
    text-align: center;
}

.bottom-hero-item div i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #88512a;
    transition: all 0.3s ease;
}

body.dark-mode .bottom-hero-item div i {
    color: #fff;
}

.bottom-hero-item div p {
    font-size: 0.8rem;
    color: #333;
    transition: all 0.3s ease;
}

body.dark-mode .bottom-hero-item div p {
    color: #fff;
}

.section-top {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

body.dark-mode .section-top {
    background-color: #000000;
}

.section-top-con {
    margin: 20px;
}

.section-top-con h1 {
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

body.dark-mode .section-top-con h1 {
    color: #fff;
}

.section-top-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px;
}

.section-top-item .section-item {
    position: relative;
    background-color: #f5f0e9;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

body.dark-mode .section-top-item .section-item {
    background-color: #333333;
    border: 1px solid #444444;
}

.section-in-top {
    position: relative;
}

.section-in-top img {
    width: 270px;
    height: 300px;
}

.section-in-top i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.section-item h3 {
    color: #000000;
    transition: all 0.3s ease;
}

body.dark-mode .section-item h3 {
    color: #fff;
}

.section-item p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

body.dark-mode .section-item p {
    color: #fff;
}

.section-item h4 {
    display: inline;
    transition: all 0.3s ease;
}

body.dark-mode .section-item h4 {
    color: #fff;
}

.section-item button {
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #fff;
    border: none;
    background-color: #271d0e;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark-mode .section-item button {
    background-color: #444444;
    color: #fff;
}

.section-item button:hover {
    background-color: #a0660f;
    transition: all 0.5s ease;
}

body.dark-mode .section-item button:hover {
    background-color: #000000;
}

.section-bottom {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

body.dark-mode .section-bottom {
    background-color: #000000;
}

.section-bottom-con {
    margin: 20px;
}

.section-bottom-con h1 {
    text-align: center;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

body.dark-mode .section-bottom-con h1 {
    color: #fff;
}

.section-bottom-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 80px;
}

.section-bottom-item .section-item {
    position: relative;
    background-color: #f5f0e9;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

body.dark-mode .section-bottom-item .section-item {
    background-color: #333333;
    border: 1px solid #444444;
}

.section-in-bottom {
    position: relative;
}

.section-in-bottom img {
    width: 270px;
    height: 300px;
}

.section-in-bottom i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.section-item h3 {
    color: #000000;
    transition: all 0.3s ease;
}

body.dark-mode .section-item h3 {
    color: #fff;
}

.section-item p {
    font-size: 0.8rem;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

body.dark-mode .section-item p {
    color: #fff;
}

.section-item h4 {
    display: inline;
}

body.dark-mode .section-item h4 {
    color: #fff;
}

.section-item button {
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #fff;
    border: none;
    background-color: #271d0e;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

body.dark-mode .section-item button {
    background-color: #444444;
    color: #fff;
}

.section-item button:hover {
    background-color: #a0660f;
    transition: all 0.5s ease;
}

body.dark-mode .section-item button:hover {
    background-color: #000000;
}

.active {
    color: #FF1493;
}

.nonactive {
    color: #ffffff;
}

footer {
    background-color: #271d0e;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    transition: all 0.3s ease;
}

body.dark-mode footer {
    background-color: #0c0c0c;
}

footer h1 {
    font-size: 1.2rem;
}

footer div h2 {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

footer div p {
    font-size: 0.7rem;
    color: #ccc;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    gap: 20px;
}

#themeMode {
    transition: all 0.3s ease;
}


/* Responsive */
@media (max-width: 480px) {
    .logo {
        margin: 10px;
    }

    .logo i {
        display: block;
    }

    nav {
        display: none;
    }

    .login {
        margin: 10px;
    }

    #userLogout {
        font-size: 0.9rem;
    }


    .hero h2 {
        font-size: 1.2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero button {
        font-size: 0.7rem;
        padding: 8px 16px;
    }

    .bottom-hero {
        padding: 20px;
    }

    .bottom-hero-item {
        margin: 0 20px;
    }

    .bottom-hero-item div i {
        font-size: 30px;
    }

    .bottom-hero-item div p {
        font-size: 0.7rem;
    }

    .section-top {
        margin: 70px;
    }

    .section-top-con h1 {
        font-size: 1.2rem;
    }

    .section-top-item {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
    }

    .section-top-item .section-item {
        padding: 10px;
        width: 162px;
    }

    .section-in-top img {
        width: 140px;
        height: 170px;
    }

    .section-in-top i {
        font-size: 16px;
    }

    .section-item h3 {
        font-size: 0.8rem;
    }

    .section-item p {
        font-size: 0.6rem;
    }

    .section-item h4 {
        font-size: 0.7rem;
    }

    .section-item button {
        font-size: 0.7rem;
        padding: 3px 8px;
    }
    .section-bottom {
        margin: 70px;
    }

    .section-bottom-con h1 {
        font-size: 1.2rem;
    }

    .section-bottom-item {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 10px;
    }

    .section-bottom-item .section-item {
        padding: 10px;
        width: 162px;
    }

    .section-in-bottom img {
        width: 140px;
        height: 170px;
    }

    .section-in-bottom i {
        font-size: 16px;
    }

    .section-item h3 {
        font-size: 0.8rem;
    }

    .section-item p {
        font-size: 0.6rem;
    }

    .section-item h4 {
        font-size: 0.7rem;
    }

    .section-item button {
        font-size: 0.7rem;
        padding: 3px 8px;
    }

    footer {
        margin-top: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    footer h1 {
        font-size: 0.6rem;
    }

    footer div h2 {
        font-size: 0.5rem;
        margin-bottom: 5px;
    }

    footer div p {
        font-size: 0.5rem;
        color: #ccc;
        margin-bottom: 5px;
    }

    .contact {
        display: flex;
        gap: 10px;
        font-size: 14px;
    }
}